.appointmentForm {
  display: flex;
  flex-direction: column;
  max-width: 768px;
}

.personInfo {
  display: flex;
  flex-direction: column;
}

.appointmentInfo {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.appointmentInfo SubmitButton {
  align-self: baseline;
}

.searchForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.or {
  text-align: center;
  padding-top: 4.5rem;
  padding-bottom: 1.5rem;
}

.makeAppointmentSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchAppointmentSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-wrap: nowrap;
  gap: 2rem;
}

.empty {
  display: block;
}

.searchAppointmentDiv {
  align-content: start;
  padding-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .appointmentPage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    padding-bottom: 2rem;
    //align-items: center;
    align-items: flex-start;
  }

  .makeAppointment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;
  }

  .appointmentForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  .searchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .personInfo {
    display: flex;
    flex-direction: column;
  }

  .appointmentInfo {
    display: flex;
    flex-direction: column;
  }

  .section-title h4 {
    font-size: 4rem;
  }
}

//alert styling

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #c91015;
  font-size: 12px;
  color: white;
  border: none;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-button:hover {
  color: #c91015;
  background-color: white;
}

.swal-overlay {
  background-color: rgba(193, 66, 66, 0.88);
}
